<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="about content">
        <h2>About</h2>
        <p>This site is a simple CRUD Blog application created with Node.js and Express</p>
    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>